# dependencies
**/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
**/.next/
**/out/

# production
**/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local
**/.env

# vercel
.vercel

#amplify
frontend/amplify/\#current-cloud-backend
frontend/amplify/.config/local-*
frontend/amplify/logs
frontend/amplify/mock-data
frontend/amplify/backend/amplify-meta.json
frontend/amplify/backend/awscloudformation
frontend/amplify/backend/.temp
frontend/build/
frontend/dist/
frontend/node_modules/
frontend/aws-exports.js
frontend/awsconfiguration.json
frontend/amplifyconfiguration.json
frontend/amplify-build-config.json
frontend/amplify-gradle-config.json
frontend/amplifytools.xcconfig
frontend/.secret-*

# aws
**/.aws-sam
frontend/.serverless
frontend/.serverless_nextjs