@use '/public/styles/variables' as *;

.login,
.register {
  display: flex;
  justify-content: center;
  margin-top: 50px;

  .container,
  form {
    display: grid;
    max-width: 400px;
    row-gap: 14px;
    width: 100%;

    .name {
      column-gap: 14px;
      display: grid;
      grid-template-columns: auto auto;
    }

    .button {
      margin: 6px 0;
    }

    .footer {
      display: grid;
      justify-items: center;
      row-gap: 14px;
    }
  }
}
